{% extends 'MonDSBundle:Default:base.html.twig' %}

{% block body %}
    
    <h2> Bonjour </h2>
    <p> Cette page affiche le nombre aléatoire {{nombrealeatoire}} pour la question 2-3 </p>
    
    

{% endblock %}



